# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.conda/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store

# OS junk
.DS_Store

# Python caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/
