numpy
pandas
scipy==1.11.4
matplotlib
seaborn
neo
quantities
elephant
scikit-learn
statsmodels
torch
matplotlib-scalebar
plotly
ffmpeg
ipython
debugpy
colorcet
dash
numba
git+https://github.com/gallantlab/pyrcca.git
setuptools
narwhals
packaging
jupyter
ipykernel
matplotlib-inline
tqdm
networkx
jinja2
fsspec
sympy
typing-extensions
filelock
pytz
tzdata
python-dateutil
contourpy
cycler
fonttools
kiwisolver
pillow
pyparsing
joblib
threadpoolctl
patsy